.modifyInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2em;
  &__label {
    width: 100%;
    font-weight: 700;
    margin-bottom: 1em;
    padding-left: 1em;
  }
}

@media screen and (max-width: 650px) {
  .productInput {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8em;
  }
}
