@import 'src/styles/vars';

.rgpd {
  display: flex;
  flex-direction:column;
  width:90%;
  margin: 0 auto;
  &__title {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  &__subtitle {
    font-size: 1rem;
  
    text-align: left;
    font-size: x-large;
    padding: 20px;
  }

  &__content{
    text-align: justify;
  }
}



@media screen and (min-width: 650px) {
  .rgpd {
    width:70%;
    &__title {
      font-size: 2rem;
      padding: 2rem;
      text-transform: uppercase;
      font-weight: bold;

    }
    
    &__subtitle {
      text-align: left;
      font-size: 1.4rem;
      padding:$gutter*1.2;
      font-weight: bold;

    }
  }
  
}
