.slogan {
  font-size: 1.4em;
  font-weight:bold;
  text-align: center;
  margin: 1.5em;
}

@media screen and (min-width: 650px) {
  .slogan {
    font-size: 2.2em;
    margin-top: 2em ;
    margin-bottom: 2em;
  }
}
