.PageNotFound {
  text-align: center;
  font-size: xx-large;
  height: 50vh;
}

@media screen and (max-width: 650px) {
  .PageNotFound {
    height: 70vh;
    width: 100%;
    text-align: center;
    padding-top: 1em;
  }
}
