@import 'src/styles/vars';

.connection{
  color: #975721;;
  position: absolute;
  top:0;
  right: 0;
  margin:$gutter $gutter*2;
  &__icon{
    max-width: 30px;
    margin-left: 1em;
  }
  &__hello {
    text-transform: capitalize;
    margin-bottom: 1em;
  }
 &__logged{
   font-size:1.5rem;
   margin-top: $gutter;

 }
 &__cart-btn{
   margin: $gutter;
 }
 &__logout-btn{
  margin: $gutter;

 }
}

@media screen and (min-width: 650px) {
  .connection{

    &__logged {
      display: flex;
    }
    &__cart-btn{
      margin-top: 0;
    }
    &__logout-btn{
      margin-top: 0;
   
    }
  }
  
}
