@import 'src/styles/vars';

.connection{
  color: #975721;;
  position: absolute;
  top:0;
  right: 0;
  margin:$gutter $gutter*2;
  &__icon{
    max-width: 30px;
    margin-left: 1em;
  }
  &__hello {
    text-transform: capitalize;
    margin-bottom: 1em;
  }
}
