@import 'src/styles/vars';

.connection{
  color: $lightest-brown;
  position: absolute;
  font-weight: 700;
  top: -10px;
  right: -15px;
  margin:$gutter ;
  &__icon{
    max-width: 30px;
    margin-left: 1em;
  }
  &__icon:hover {
    color:$dark-grey
  }
  &__group-icon{
  display: flex;
  font-size: 1.3rem;
  background-color: $normal-grey;
  border-radius: 20px;
  border: 2px solid $dark-grey;
  justify-content: space-between;
  }
  &__hello {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 1em;
    cursor: default;
    padding: 0.3em;
    background-color: $normal-grey;
    border-radius: 20px;
  }
 &__logged{
   font-size:1.5rem;
   padding-left: 1em;
 }
 &__edit-btn{
  margin: $gutter 0;
 }
 &__edit-btn:hover {
  color:$dark-grey
  }
 &__admin-btn{
  margin: $gutter;
 }
 &__admin-btn:hover {
  color:$dark-grey
}

 &__cart-btn{
   margin: $gutter;
 }
 &__cart-btn:hover {
  color:$dark-grey
}
 &__logout-btn{
  margin: $gutter 0.5em;

 }
 &__logout-btn:hover {
  color:$dark-grey
}
  &__cart-link {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logout-link {
    width: 33%;
    justify-content: center;
    align-items: center;
  }
  &__account-btn{
    width: 33%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 650px) {
  .connection{
    margin: $gutter*2;
    &__group-icon {
      padding: 0.5em;
    }
    &__hello {
      font-size: 1.5rem;
      text-shadow: center;
    }
    &__logged {
      display: flex;
      flex-direction: column;

    }
    &__cart-btn{
      margin-top: 0;
      font-size: 1.5rem;

    }
    &__edit-btn{
      margin-top: 0;
      font-size: 1.5rem;

     }
    &__logout-btn{
      margin-top: 0;
      font-size: 1.5rem;
      
    }
    &__admin-btn{
      margin-top: 0;
      font-size: 1.5rem;
     }
  }
  
}
