@import 'src/styles/vars';

.loginField {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  &__input {
    padding: 0.8em;
    width: 100%;
    align-self: flex-start;
  }
  &__label {
    margin-bottom: 0.8em;
    display: flex;
    align-self: flex-start;
  }
}


@media screen and (max-width: 650px) {
  .loginField {
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    
  }
}
