@import 'src/styles/vars';

.account {
  background-color: $lightest-brown;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__userInterface {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.1em;
    font-weight: 700;
  }
  &__infoData{
    margin-right: 1em;
  }
}
