@import 'src/styles/vars';

.product {
  width: 100%;
  height: 25%;
  margin: $gutter*2 auto;
  &__name {
    margin:$gutter;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__img {
    width: 100%;
    border-radius: 5px;

    
  }
  &__bottom{
    display: flex;
    justify-content:space-around
  }
  &__quantity {
    width: 30%;
    display:flex;
  }
  &__quantity-input{
    width: 60%;
    margin: $gutter $gutter*.3;
    border: none;
    background-color:$light-brown;
    color:$dark-brown;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
  }
  &__quantity-input:hover{
    background-color:$lightest-brown;
  }
  &__quantity-input::-webkit-input-placeholder {
    color: $dark-brown;
  }
 
  &__price {
    text-transform: uppercase;
    margin: $gutter;
    font-weight: 700;

  }
  &__icon{
    margin: $gutter 0;
    cursor: pointer;
  }
  &__icon:hover{
    color: $lightest-brown;
  }
}

@media screen and (min-width: 650px) {
  .product{
    width:25%;
    font-size: 0.7rem;
    &__quantity-input {
      font-size: 0.6rem;
      min-width: 50px;
    }
    &__icon{
      font-size: 0.9rem;
    }
    &__quantity{
      width: 50%;
    }
  }
}
