@use 'src/styles/vars' as v;

.contactForm {
  background-color: v.$dark-brown;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto;
  height: 60vh;
  color: v.$light-brown;
  &__message {
    width: 80%;
    height: 40%;
    margin: 0 0 2em 0;
  }
}

@media screen and (max-width: 650px) {
  .contactForm__message {
    width: 100%;
  }
  .test {
    display: flex;
    justify-content: center;
  }
}
