@import 'src/styles/vars';

.footer {
  width: 100%;
  font-size:1.4em;
  margin: $gutter auto;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  &__top{
    display: flex;
    justify-content: space-between;
    margin: $gutter*2;
  }
  &__icon:hover{
    color: $lightest-brown;
  }
  &__icon--open{
    transform: rotate(90deg);
  }
  &__list{
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin: $gutter;
  }
  &__list--notActive{
    display: none;
  }
  &__links{
    margin: $gutter;
  }
  &__links:hover{
    color: $lightest-brown;
  }
}

@media screen and (min-width: 650px) {
  .footer {
    width: 80%;
    &__list {
      flex-direction: row;
    }
    &__list--notActive{
      display: block;
    }
    &__icon{
      display:none;
    }
    &__top{
      justify-content: center;
    }
  }
}
